<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="token" value="05c106e931ace1a6b0da2cad1c9f984a"></add>
		<add key="imagType" value="cia"></add>
		<add key="leftUpLonStr" value="117.954816"></add>
		<add key="leftUpLatStr" value="37.398"></add>
		<add key="rightDownLonStr" value="118.26297"></add>
		<add key="rightDownLatStr" value="36.909"></add>
		<add key="downLoadPath" value="D:\Test\"></add>
	</appSettings>
</configuration>
